.priceFilterContainer {
  display: flex;
  flex-direction: column;

  height: 260px;
  justify-content: space-between;
}

.priceTagContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.priceTagContainer button {
  width: 80%;
  color: white;
  background-color: #3498db;
  border: white 1px solid;
  margin-top: 10px;
}

.priceRange {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.priceInp {
  display: flex;
  padding: 0px 10px 0px 10px;
  justify-content: space-between;
}

.priceInp input {
  width: 50% !important;
}

.priceRange {
  height: 50%;
}

.priceRangeSubmit {
  margin-top: 20px;
}

.priceRangeSubmit button {
  color: blue;
  background-color: white;
  border: 1px solid blue;
}

#catIdSel {
  width: 60%;
}

#catFilterGroup {
  display: flex;
  width: 300px;
  border: 1px solid gainsboro;
  line-height: 1em;
  justify-content: space-around;
  align-items: center !important;
  vertical-align: center;
}

.priceFilterBtn.act {
  background-color: gold;
}



.productList__item {
  height: 360px;

}

.productList__item-image {

  height: 180px;
}

.productList__item-image img {
  width: 100%;
  height: 100%;
}

.productList__item-content {
  border: 1px solid lightseagreen;
  height: 50%;
  padding: 10px;
}



.productList__item-info {

  height: 80%;
}

.productList__item-name {

  height: 40%;
}


.priceP {
  color: red;
}

.productNameP {
  font-weight: 600;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#proList {
  border: 1px solid gainsboro;
}